# Created by .ignore support plugin (hsz.mobi)
**/venv/
.idea/
*.accdb
SCACForms/app/tools/pdfs/output/
SCAC_SYSTEM_PLAN_INVENTORY_QUESTIONAIRE.accdb
/SCAC_SYSTEM_PLAN_INVENTORY_QUESTIONAIRE.laccdb
node_modules/
src/
!src/app/
**/db.sqlite3
